.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;

    @media screen and (max-width: 768px) {
        right: 30px;
    }

    @media screen and (max-width: 600px) {
        right: 20px;
    }

    @media screen and (max-width: 482px) {
        right: 5px;
    }

    @media screen and (max-width: 400px) {
        right: 0;
    }

    img {
        width: 100%;

        @media screen and (max-width: 768px) {
            width: 90%;
        }

        @media screen and (max-width: 482px) {
            width: 80%;
        }
    }
}